
////////////////////////////////////////////////////////////////////////////////
// Snipcart on-page snipcart-related (snipcart component)
////////////////////////////////////////////////////////////////////////////////

#snipcart-wrapper {
  height: 52px;
  z-index: 700;
  display: flex;
  &.cart-not-empty .snipcart-cart-and-count {
    background-color: $color9;
    border: 1px solid $color9;
    //border-radius: 6px;
    &:hover {
      background-color: $color9a;
    }
  }

}
//
// Account/Login
//
.snipcart-account-login {
  float: left;
  height: 100%;
  margin-right: 16px;
  margin-right: .5rem;
  a {
    color: $color2;
    @include font-size($font-base);
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $color2;
    }
  }
  .snipcart-user-email {
    font-weight: $font-weight-regular;
    color: $color2;
    height: 100%;
    padding-top: 12px;
    padding-top: .75rem;
  }
}
//
// Button: Cart & Cart Items Count
//
.snipcart-cart-and-count {
  font-weight: $font-weight-regular;
  height: 100%;
  width: 100%;
  a {
    text-decoration: none;
    @include font-size($font-base);
  }
  .snipcart-cart {
    width: 7.75rem;
    margin: 0 auto;
    margin-right: 0;
    //
    // Before applying Background, set height 100% so background is visible
    //
    height: 100%;
    // Background
    background: url(../../images/shopping-cart-white.svg);
    background-repeat: no-repeat;
    background-size: 32px auto;
    background-size: 2rem auto;
    // First value is x-position (horizontal), second is y-value (vertical)
    background-position: 15px center;
  }
  .snipcart-summary {
    color: $color2;
    height: 100%;
    float: right;
    padding-top: 12px;
    padding-top: .75rem;
    padding-right: 15px;
  }
}

