////////////////////////////////////////////////////////////////////////////////
// Menu Header (component)
////////////////////////////////////////////////////////////////////////////////

header .menu-list {
  display: flex;
  justify-content: center;
  
  li {
    padding: .75rem .55rem;
    list-style-type: none;

  }
  a {
    text-decoration: none;
    font-weight: $font-weight-medium;
    font-size: 75%;
    color: $color2;
    &:hover {
      color: $color4;
    }
    @include breakpoint($size-xs) {
      font-size: 80%;
    }@include breakpoint($size-sm) {
      font-size: 100%;
    }
  }
}
