
////////////////////////////////////////////////////////////////////////////////
// Borders (base-and-component-support)
// Borders for misc, including use in modules/paragraphs
////////////////////////////////////////////////////////////////////////////////
$style_dashed: dashed;
$style_solid: solid;

////////////////////////////////////////////////////////////////////////////////
// INCLUDES Screen Size Variables
//
$screen-width: (
  $size-xxs: xxs,
  $size-xs: xs,
  $size-sm: sm,
  $size-sm-plus: sm-plus,
  $size-md: md,
  $size-lg: lg,
  $size-xl: xl,
  $size-2x: 2x
 );

 @each $screen-width, $size in $screen-width {
  @media (min-width: #{$screen-width}) {
    // 
    // Solid
    //
    // .0625rem
    .b-solid-#{$size}-1, .b-#{$size}-1-children .paragraph { border-style: solid; border-width: .0625rem; }
    .bt-solid-#{$size}-1, .bt-#{$size}-1-children .paragraph { border-top-style: solid; border-width: .0625rem; }
    .br-solid-#{$size}-1, .br-#{$size}-1-children .paragraph { border-right-style: solid; border-width: .0625rem; }
    .bb-solid-#{$size}-1, .bb-#{$size}-1-children .paragraph { border-bottom-style: solid; border-width: .0625rem; }
    .bl-solid-#{$size}-1, .bl-#{$size}-1-children .paragraph { border-left-style: solid; border-width: .0625rem; }
    // .5rem
    .b-solid-#{$size}-2, .b-#{$size}-2-children .paragraph { border-style: solid; border-width: .5rem; }
    .bt-solid-#{$size}-2, .bt-#{$size}-2-children .paragraph { border-top-style: solid; border-width:.5rem; }
    .br-solid-#{$size}-2, .br-#{$size}-2-children .paragraph { border-right-style: solid; border-width: .5rem; }
    .bb-solid-#{$size}-2, .bb-#{$size}-2-children .paragraph { border-bottom-style: solid; border-width: .5rem; }
    .bl-solid-#{$size}-2, .bl-#{$size}-2-children .paragraph { border-left-style: solid; border-width: .5rem; }
    // 1rem
    .b-solid-#{$size}-3, .b-#{$size}-3-children .paragraph { border-style: solid; border-width: 1rem; }
    .bt-solid-#{$size}-3, .bt-#{$size}-3-children .paragraph { border-top-style: solid; border-width:1rem; }
    .br-solid-#{$size}-3, .br-#{$size}-3-children .paragraph { border-right-style: solid; border-width: 1rem; }
    .bb-solid-#{$size}-3, .bb-#{$size}-3-children .paragraph { border-bottom-style: solid; border-width: 1rem; }
    .bl-solid-#{$size}-3, .bl-#{$size}-3-children .paragraph { border-left-style: solid; border-width: 1rem; }
    // 
    // dashed
    //
    // .0625rem
    .b-dashed-#{$size}-1, .b-#{$size}-1-children .paragraph { border-style: dashed; border-width: .0625rem; }
    .bt-dashed-#{$size}-1, .bt-#{$size}-1-children .paragraph { border-top-style: dashed; border-width: .0625rem; }
    .br-dashed-#{$size}-1, .br-#{$size}-1-children .paragraph { border-right-style: dashed; border-width: .0625rem; }
    .bb-dashed-#{$size}-1, .bb-#{$size}-1-children .paragraph { border-bottom-style: dashed; border-width: .0625rem; }
    .bl-dashed-#{$size}-1, .bl-#{$size}-1-children .paragraph { border-left-style: dashed; border-width: .0625rem; }
    // .5rem
    .b-dashed-#{$size}-2, .b-#{$size}-2-children .paragraph { border-style: dashed; border-width: .5rem; }
    .bt-dashed-#{$size}-2, .bt-#{$size}-2-children .paragraph { border-top-style: dashed; border-width:.5rem; }
    .br-dashed-#{$size}-2, .br-#{$size}-2-children .paragraph { border-right-style: dashed; border-width: .5rem; }
    .bb-dashed-#{$size}-2, .bb-#{$size}-2-children .paragraph { border-bottom-style: dashed; border-width: .5rem; }
    .bl-dashed-#{$size}-2, .bl-#{$size}-2-children .paragraph { border-left-style: dashed; border-width: .5rem; }
    // 1rem
    .b-dashed-#{$size}-3, .b-#{$size}-3-children .paragraph { border-style: dashed; border-width: 1rem; }
    .bt-dashed-#{$size}-3, .bt-#{$size}-3-children .paragraph { border-top-style: dashed; border-width:1rem; }
    .br-dashed-#{$size}-3, .br-#{$size}-3-children .paragraph { border-right-style: dashed; border-width: 1rem; }
    .bb-dashed-#{$size}-3, .bb-#{$size}-3-children .paragraph { border-bottom-style: dashed; border-width: 1rem; }
    .bl-dashed-#{$size}-3, .bl-#{$size}-3-children .paragraph { border-left-style: dashed; border-width: 1rem; }
 
  }
}

$colors: 
  black $color1, // black
  white $color2, // white
  brown $color4, // brown
  red $color5a, // red
  blue $color6a, // blue
  yellow $color8a, // yellow
  green $color9a, // green
  orange $color10a // orange
;

 @each $color in $colors {
  .b-#{nth($color, 1)}, .b-#{nth($color, 1)}-children .paragraph { border-color: nth($color, 2); }
}

//
// END: New padding-Padding via @for and @each
////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Legacy Border Styles
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$border_style_solid: solid;
$border_width_xs: 1px;
$border_width_lg: 1rem;


@mixin border($style: $borderStyle, $width: $borderWidth, $color: $borderColor) {
  border-style: ($style);
  border-width: ($width);
  border-color: ($color);
}

@mixin border-top($style: $borderStyle, $width: $borderWidth, $color: $borderColor) {
  border-top-style: ($style);
  border-width: ($width);
  border-color: ($color);
}

@mixin border-bottom($style: $borderStyle, $width: $borderWidth, $color: $borderColor) {
  border-bottom-style: ($style);
  border-width: ($width);
  border-color: ($color);
}

@mixin border-right($style: $borderStyle, $width: $borderWidth, $color: $borderColor) {
  border-right-style: ($style);
  border-width: ($width);
  border-color: ($color);
}

@mixin border-left($style: $borderStyle, $width: $borderWidth, $color: $borderColor) {
  border-left-style: ($style);
  border-width: ($width);
  border-color: ($color);
}

// All Around Border

.border__xs {
  &.black {
    @include border($border_style_solid, $border_width_xs, $color1);
  }
  &.white {
    @include border($border_style_solid, $border_width_xs, $color2);
  }
  &.dark-gray {
    @include border($border_style_solid, $border_width_xs, $color3);
  }
  &.gold {
    @include border($border_style_solid, $border_width_xs, $color4);
  }
  &.red {
    @include border($border_style_solid, $border_width_xs, $color5);
  }
  &.green {
    @include border($border_style_solid, $border_width_xs, $color6);
  }
}

// Top Border
.border-top__xs {
  &.black {
    @include border-top($border_style_solid, $border_width_xs, $color1);
  }
  &.white {
    @include border-top($border_style_solid, $border_width_xs, $color2);
  }
  &.dark-gray {
    @include border($border_style_solid, $border_width_xs, $color3);
  }
  &.gold {
    @include border($border_style_solid, $border_width_xs, $color4);
  }
  &.red {
    @include border($border_style_solid, $border_width_xs, $color5);
  }
  &.green {
    @include border($border_style_solid, $border_width_xs, $color6);
  }
}

// Section Borders
.border-top__section {
  &.black {
    @include border-top($border_style_solid, $border_width_lg, $color1);
  }
  &.white {
    @include border-top($border_style_solid, $border_width_lg, $color2);
  }
  &.brown {
    @include border-top($border_style_solid, $border_width_lg, $color4);
  }
  &.red {
    @include border-top($border_style_solid, $border_width_lg, $color5a);
  }
  &.blue {
    @include border-top($border_style_solid, $border_width_lg, $color6a);
  }
  &.yellow {
    @include border-top($border_style_solid, $border_width_lg, $color8a);
  }
  &.green {
    @include border-top($border_style_solid, $border_width_lg, $color9a);
  }
  &.orange {
    @include border-top($border_style_solid, $border_width_lg, $color10a);
  }
}

.border-bottom__section {
  &.black {
    @include border-bottom($border_style_solid, $border_width_lg, $color1);
  }
  &.white {
    @include border-bottom($border_style_solid, $border_width_lg, $color2);
  }
  &.brown {
    @include border-bottom($border_style_solid, $border_width_lg, $color4);
  }
  &.red {
    @include border-bottom($border_style_solid, $border_width_lg, $color5a);
  }
  &.blue {
    @include border-bottom($border_style_solid, $border_width_lg, $color6a);
  }
  &.yellow {
    @include border-bottom($border_style_solid, $border_width_lg, $color8a);
  }
  &.green {
    @include border-bottom($border_style_solid, $border_width_lg, $color9a);
  }
  &.orange {
    @include border-bottom($border_style_solid, $border_width_lg, $color10a);
  }
}

.border-right__section {
  &.black {
    @include border-right($border_style_solid, $border_width_lg, $color1);
  }
  &.white {
    @include border-right($border_style_solid, $border_width_lg, $color2);
  }
  &.brown {
    @include border-right($border_style_solid, $border_width_lg, $color4);
  }
  &.red {
    @include border-right($border_style_solid, $border_width_lg, $color5a);
  }
  &.blue {
    @include border-right($border_style_solid, $border_width_lg, $color6a);
  }
  &.yellow {
    @include border-right($border_style_solid, $border_width_lg, $color8a);
  }
  &.green {
    @include border-right($border_style_solid, $border_width_lg, $color9a);
  }
  &.orange {
    @include border-right($border_style_solid, $border_width_lg, $color10a);
  }
}

.border-left__section {
  &.black {
    @include border-left($border_style_solid, $border_width_lg, $color1);
  }
  &.white {
    @include border-left($border_style_solid, $border_width_lg, $color2);
  }
  &.brown {
    @include border-left($border_style_solid, $border_width_lg, $color4);
  }
  &.red {
    @include border-left($border_style_solid, $border_width_lg, $color5a);
  }
  &.blue {
    @include border-left($border_style_solid, $border_width_lg, $color6a);
  }
  &.yellow {
    @include border-left($border_style_solid, $border_width_lg, $color8a);
  }
  &.green {
    @include border-left($border_style_solid, $border_width_lg, $color9a);
  }
  &.orange {
    @include border-left($border_style_solid, $border_width_lg, $color10a);
  }
}