
////////////////////////////////////////////////////////////////////////////////
// Margin Right-Left Auto
////////////////////////////////////////////////////////////////////////////////
.margin-auto__right-left {
  margin-right: auto;
  margin-left: auto;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Responsive Margin + Padding
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// LOOPING
// https://stackoverflow.com/questions/17559099/grouping-selectors-inside-of-a-loop-using-sass
// Maps
// https://www.viget.com/articles/sass-maps-are-awesome/

////////////////////////////////////////////////////////////////////////////////
// EXCLUDES Screen Size Variables
//
@for $i from 0 through 5 {
  /////////////////////////////////////////
  // XXS = 5px(aka .3125rem)
  $xxs: .3125;
  // Margin //
  .mt-xxs, .mt_children_xxs .paragraph, .mt_children_even_xxs .paragraph:nth-child(even), .mt_children_odd_xxs .paragraph:nth-child(odd) { margin-top: 1rem * $xxs; }
  .mr-xxs, .mr_children_xxs .paragraph, .mr_children_even_xxs .paragraph:nth-child(even), .mr_children_odd_xxs .paragraph:nth-child(odd) { margin-right: 1rem * $xxs; }
  .mb-xxs, .mb_children_xxs .paragraph, .mb_children_even_xxs .paragraph:nth-child(even), .mb_children_odd_xxs .paragraph:nth-child(odd) { margin-bottom: 1rem * $xxs; }
  .ml-xxs, .ml_children_xxs .paragraph, .ml_children_even_xxs .paragraph:nth-child(even), .ml_children_odd_xxs .paragraph:nth-child(odd) { margin-left: 1rem * $xxs; }
  .mtb-xxs, .mtb_children_xxs .paragraph, .mtb_children_even_xxs .paragraph:nth-child(even), .mtb_children_odd_xxs .paragraph:nth-child(odd) { margin-top: 1rem * $xxs; margin-bottom: 1rem * $xxs; }
  .mrl-xxs, .mrl_children_xxs .paragraph, .mrl_children_even_xxs .paragraph:nth-child(even), .mrl_children_odd_xxs .paragraph:nth-child(odd) { margin-right: 1rem * $xxs; margin-left: 1rem * $xxs; }
  // Padding //
  .pt-xxs, .pt_children_xxs .paragraph, .pt_children_even_xxs .paragraph:nth-child(even), .pt_children_odd_xxs .paragraph:nth-child(odd) { padding-top: 1rem * $xxs; }
  .pr-xxs, .pr_children_xxs .paragraph, .pr_children_even_xxs .paragraph:nth-child(even), .pr_children_odd_xxs .paragraph:nth-child(odd) { padding-right: 1rem * $xxs; }
  .pb-xxs, .pb_children_xxs .paragraph, .pb_children_even_xxs .paragraph:nth-child(even), .pb_children_odd_xxs .paragraph:nth-child(odd) { padding-bottom: 1rem * $xxs; }
  .pl-xxs, .pl_children_xxs .paragraph, .pl_children_even_xxs .paragraph:nth-child(even), .pl_children_odd_xxs .paragraph:nth-child(odd) { padding-left: 1rem * $xxs; }
  .ptb-xxs, .ptb_children_xxs .paragraph, .ptb_children_even_xxs .paragraph:nth-child(even), .ptb_children_odd_xxs .paragraph:nth-child(odd) { padding-top: 1rem * $xxs; padding-bottom: 1rem * $xxs; }
  .prl-xxs, .prl_children_xxs .paragraph, .prl_children_even_xxs .paragraph:nth-child(even), .prl_children_odd_xxs .paragraph:nth-child(odd) { padding-right: 1rem * $xxs; padding-left: 1rem * $xxs; }

  //
  // End: XXS 5px or .3125rem
  ////////////////////////////////////////

  // Margin: No Screen-Size Variable //
  .mt-#{$i}, .mt_children_#{$i} .paragraph, .mt_children_even_#{$i} .paragraph:nth-child(even), .mt_children_odd_#{$i} .paragraph:nth-child(odd) { margin-top: 1rem * $i; }
  .mr-#{$i}, .mr_children_#{$i} .paragraph, .mr_children_even_#{$i} .paragraph:nth-child(even), .mr_children_odd_#{$i} .paragraph:nth-child(odd) { margin-right: 1rem * $i; }
  .mb-#{$i}, .mb_children_#{$i} .paragraph, .mb_children_even_#{$i} .paragraph:nth-child(even), .mb_children_odd_#{$i} .paragraph:nth-child(odd) { margin-bottom: 1rem * $i; }
  .ml-#{$i}, .ml_children_#{$i} .paragraph, .ml_children_even_#{$i} .paragraph:nth-child(even), .ml_children_odd_#{$i} .paragraph:nth-child(odd) { margin-left: 1rem * $i; }
  .mtb-#{$i}, .mtb_children_#{$i} .paragraph, .mtb_children_even_#{$i} .paragraph:nth-child(even), .mtb_children_odd_#{$i} .paragraph:nth-child(odd) { margin-top: 1rem * $i; margin-bottom: 1rem * $i; }
  .mrl-#{$i}, .mrl_children_#{$i} .paragraph, .mrl_children_even_#{$i} .paragraph:nth-child(even), .mrl_children_odd_#{$i} .paragraph:nth-child(odd) { margin-right: 1rem * $i; margin-left: 1rem * $i; }
  // Padding: No Screen-Size Variable //
  .pt-#{$i}, .pt_children_#{$i} .paragraph, .pt_children_even_#{$i} .paragraph:nth-child(even), .pt_children_odd_#{$i} .paragraph:nth-child(odd) { padding-top: 1rem * $i; }
  .pr-#{$i}, .pr_children_#{$i} .paragraph, .pr_children_even_#{$i} .paragraph:nth-child(even), .pr_children_odd_#{$i} .paragraph:nth-child(odd) { padding-right: 1rem * $i; }
  .pb-#{$i}, .pb_children_#{$i} .paragraph, .pb_children_even_#{$i} .paragraph:nth-child(even), .pb_children_odd_#{$i} .paragraph:nth-child(odd) { padding-bottom: 1rem * $i; }
  .pl-#{$i}, .pl_children_#{$i} .paragraph, .pl_children_even_#{$i} .paragraph:nth-child(even), .pl_children_odd_#{$i} .paragraph:nth-child(odd) { padding-left: 1rem * $i; }
  .ptb-#{$i}, .ptb_children_#{$i} .paragraph, .ptb_children_even_#{$i} .paragraph:nth-child(even), .ptb_children_odd_#{$i} .paragraph:nth-child(odd) { padding-top: 1rem * $i; padding-bottom: 1rem * $i; }
  .prl-#{$i}, .prl_children_#{$i} .paragraph, .prl_children_even_#{$i} .paragraph:nth-child(even), .prl_children_odd_#{$i} .paragraph:nth-child(odd) { padding-right: 1rem * $i; padding-left: 1rem * $i; }
}


////////////////////////////////////////////////////////////////////////////////
// INCLUDES Screen Size Variables
//
$screen-width: (
  $size-xs: xs,
  $size-sm: sm,
  $size-sm-plus: sm-plus,
  $size-md: md,
  $size-lg: lg,
  $size-xl: xl,
  $size-2x: 2x
 );
@each $screen-width, $size in $screen-width {
  @media (min-width: #{$screen-width}) {
    /////////////////////////////////////////
    // XXS 5px or .3125rem;
    $xxs: .3125;
    // Margin //
    .mt-#{$size}-xxs, .mt_children_#{$size}-xxs .paragraph, .mt_children_even_#{$size}-xxs .paragraph:nth-child(even), .mt_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { margin-top: 1rem * $xxs; }
    .mr-#{$size}-xxs, .mr_children_#{$size}-xxs .paragraph, .mr_children_even_#{$size}-xxs .paragraph:nth-child(even), .mr_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { margin-right: 1rem * $xxs; }
    .mb-#{$size}-xxs, .mb_children_#{$size}-xxs .paragraph, .mb_children_even_#{$size}-xxs .paragraph:nth-child(even), .mb_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { margin-bottom: 1rem * $xxs; }
    .ml-#{$size}-xxs, .ml_children_#{$size}-xxs .paragraph, .ml_children_even_#{$size}-xxs .paragraph:nth-child(even), .ml_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { margin-left: 1rem * $xxs; }
    .mtb-#{$size}-xxs, .mtb_children_#{$size}-xxs .paragraph, .mtb_children_even_#{$size}-xxs .paragraph:nth-child(even), .mtb_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { margin-top: 1rem * $xxs; margin-bottom: 1rem * $xxs; }
    .mrl-#{$size}-xxs, .mrl_children_#{$size}-xxs .paragraph, .mrl_children_even_#{$size}-xxs .paragraph:nth-child(even), .mrl_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { margin-right: 1rem * $xxs; margin-left: 1rem * $xxs; }
    // Padding //
    .pt-#{$size}-xxs, .pt_children_#{$size}-xxs .paragraph, .pt_children_even_#{$size}-xxs .paragraph:nth-child(even), .pt_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { padding-top: 1rem * $xxs; }
    .pr-#{$size}-xxs, .pr_children_#{$size}-xxs .paragraph, .pr_children_even_#{$size}-xxs .paragraph:nth-child(even), .pr_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { padding-right: 1rem * $xxs; }
    .pb-#{$size}-xxs, .pb_children_#{$size}-xxs .paragraph, .pb_children_even_#{$size}-xxs .paragraph:nth-child(even), .pb_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { padding-bottom: 1rem * $xxs; }
    .pl-#{$size}-xxs, .pl_children_#{$size}-xxs .paragraph, .pl_children_even_#{$size}-xxs .paragraph:nth-child(even), .pl_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { padding-left: 1rem * $xxs; }
    .ptb-#{$size}-xxs, .ptb_children_#{$size}-xxs .paragraph, .ptb_children_even_#{$size}-xxs .paragraph:nth-child(even), .ptb_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { padding-top: 1rem * $xxs; padding-bottom: 1rem * $xxs; }
    .prl-#{$size}-xxs, .prl_children_#{$size}-xxs .paragraph, .prl_children_even_#{$size}-xxs .paragraph:nth-child(even), .prl_children_odd_#{$size}-xxs .paragraph:nth-child(odd) { padding-right: 1rem * $xxs; padding-left: 1rem * $xxs; }
    //
    // End: XXS 5px or .3125rem
    ////////////////////////////////////////

    ////////////////////////////////////////
    // 0 through 5 @ increments of 1rem
    //
    @for $i from 0 through 5 {
      // Margin //
      .mt-#{$size}-#{$i}, .mt_children_#{$size}-#{$i} .paragraph, .mt_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .mt_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { margin-top: 1rem * $i; }
      .mr-#{$size}-#{$i}, .mr_children_#{$size}-#{$i} .paragraph, .mr_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .mr_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { margin-right: 1rem * $i; }
      .mb-#{$size}-#{$i}, .mb_children_#{$size}-#{$i} .paragraph, .mb_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .mb_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { margin-bottom: 1rem * $i; }
      .ml-#{$size}-#{$i}, .ml_children_#{$size}-#{$i} .paragraph, .ml_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .ml_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { margin-left: 1rem * $i; }
      .mtb-#{$size}-#{$i}, .mtb_children_#{$size}-#{$i} .paragraph, .mtb_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .mtb_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { margin-top: 1rem * $i; margin-bottom: 1rem * $i; }
      .mrl-#{$size}-#{$i}, .mrl_children_#{$size}-#{$i} .paragraph, .mrl_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .mrl_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { margin-right: 1rem * $i; margin-left: 1rem * $i; }
      // Padding //
      .pt-#{$size}-#{$i}, .pt_children_#{$size}-#{$i} .paragraph, .pt_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .pt_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { padding-top: 1rem * $i; }
      .pr-#{$size}-#{$i}, .pr_children_#{$size}-#{$i} .paragraph, .pr_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .pr_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { padding-right: 1rem * $i; }
      .pb-#{$size}-#{$i}, .pb_children_#{$size}-#{$i} .paragraph, .pb_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .pb_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { padding-bottom: 1rem * $i; }
      .pl-#{$size}-#{$i}, .pl_children_#{$size}-#{$i} .paragraph, .pl_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .pl_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { padding-left: 1rem * $i; }
      .ptb-#{$size}-#{$i}, .ptb_children_#{$size}-#{$i} .paragraph, .ptb_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .ptb_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { padding-top: 1rem * $i; padding-bottom: 1rem * $i; }
      .prl-#{$size}-#{$i}, .prl_children_#{$size}-#{$i} .paragraph, .prl_children_even_#{$size}-#{$i} .paragraph:nth-child(even), .prl_children_odd_#{$size}-#{$i} .paragraph:nth-child(odd) { padding-right: 1rem * $i; padding-left: 1rem * $i; }
      // 
      // End: 0 through 5 @ increments of 1rem
      //////////////////////////////////////
    }
  }
}
//
// End: Responsive Margin + Padding
////////////////////////////////////////////////////////////////////////////////
