
////////////////////////////////////////////////////
// Footer (region component)
////////////////////////////////////////////////////

#footer {
  padding: .25rem 0;
  @include breakpoint($size-md, true) {
    display: block;
  }
  * {
    text-align: center;
    @include breakpoint($size-sm, true) {
      text-align: left;
    }
  }
}
