
.header {
  background-color: $color5a;
  border-bottom: none;
  font-weight: $font-weight-light;
  width: 100%;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint($size-lg) {
      flex-direction: row;
    }
  }
  #logo {
    background: $color6a;
    height: 52px; /* match height with #snipcart-wrapper */
    width: 60%;
    display: flex;
    align-items: center;
    @include breakpoint($size-lg) {
      background: none;
      width: auto;
      order: 1; /* flex order */
    }
    a {
      display: flex;
    }
    img {
      height: 30px;
      max-width: 100%;
      padding: 0 7px; /* match cart inner padding-right 15px */
      @include breakpoint($size-sm) { 
        padding: 0 0 0 15px; /* match cart inner padding-right 15px */
      }
    }
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 0;
    @include breakpoint($size-sm) {
      flex-direction: row;
      padding: 0;
    }
    @include breakpoint($size-lg) {
      order: 2; /* flex order */
    }
  }
  #snipcart-wrapper {
    height: 52px; /* match height with #logo */
    background: $color6a;
    position: absolute;
    right: 0;
    width: 40%;
    @include breakpoint($size-lg) {
      background: none;
      width: auto;
      position: relative;
      order: 3; /* flex order */
    }
  }
}


/*

.hamburger-and-cart {
  background: $color3;
  height: 3rem;
  padding-bottom: .75rem;
  @include breakpoint($size-lg) {
    background: none;
    float: right;
    height: 0;
    padding: 0;
  }
  @include breakpoint($size-2x) {
    background: none;
    float: none;
  }
}
.hamburger {
  padding: .9rem;
  @include breakpoint($size-lg) {
    display: none;
  }
}
.hamburger-inner {
  @include breakpoint($size-lg) {
    display: none;
  }
}
.hamburger.is-active ~ .logo-and-nav {
  margin-top: 2.8em;
}

.header-transparent .header:not(.scrolled) {
    background: none;
}

.header-phone__mobile {
  display: inline-block;
  a {
    text-decoration: none;
    color:$color2;
    font-weight: bold;
    @include font-size-only($font-medium-large);
  }
}

*/
