
////////////////////////////////////////////////////
// Footer (region component)
////////////////////////////////////////////////////

#footer {
  padding: .25rem;
  @include breakpoint($size-md, true) {
    display: block;
  }
  * {
    text-align: center;
  }
}
