
////////////////////////////////////////////////////////////////////////////////
// Snipcart: Modal (snipcart component)
////////////////////////////////////////////////////////////////////////////////

.snip-layout {
  .snip-static__title {
    color: $color7;
  }
  .snip-btn {
    color: $color2;
    background: $color9;
    &:hover {
      background: $color9a;
    }
  }
  th, td, h2, p, .snip-quantity-trigger__text, .snip-quantity-trigger__btn--minus, .snip-quantity-trigger__btn--add {
    color: $color7 !important;
  }
  .snip-form__error {
    color: $color2 !important;
  }
}

#snipcart-header {
  background: $color10a;
    // Title areas "My Cart"
  .snip-header__title {
    font-size: 14px;
    color: $color2 !important; // Must add !important to override above !important
    left: 1.25em;
    line-height: 105px;
  }
  .snip-header__total {
    background: $color9;
  }
  // Subtotal
  .snip-header__total-label {
    color: $color2;
  }
  #snipcart-amount {
    color: $color2;
  }
}

// Thumbnail image
#snipcart-sub-content .snip-product__thumbnail {
  display: block; // snipcart default is display non until larger breakpoint
  width: 260px;
  height: auto;
  float: none; // negate snipcart default float left so text is below product image
  margin-bottom: .5rem; // apply some space between image and description
  @include breakpoint($size-xs) {
    float: left; // apply so image is to left and text is to right
    margin-bottom: 0;
  }
}

// Powered by Snipcart
#snipcart-footer {
  display: none;
}
