<li class="menu-item">
  <a href="#chocolate">Chocolate &amp; More</a>
</li>
<li class="menu-item">
  <a href="#about">Our Story</a>
</li>
<li class="menu-item">
  <a href="#contact">Contact</a>
</li>