<li class="menu-item">
  <a href="#chocolate-and-more-anchor"><img src="/user/themes/bodigiti/images/chocolate-one-piece.png" alt="piece of chocolate" class="nav-icon">&nbsp;Chocolate &amp; More&nbsp;<img src="/user/themes/bodigiti/images/chocolate-one-piece.png" alt="piece of chocolate" class="nav-icon"></a>
</li>
<li class="menu-item">
  <a href="#our-story-anchor"><img src="/user/themes/bodigiti/images/chocolate-one-piece.png" alt="piece of chocolate" class="nav-icon">&nbsp;Our Story&nbsp;<img src="/user/themes/bodigiti/images/chocolate-one-piece.png" alt="piece of chocolate" class="nav-icon"></a>
</li>
<li class="menu-item">
  <a href="#contact-anchor"><img src="/user/themes/bodigiti/images/chocolate-one-piece.png" alt="piece of chocolate" class="nav-icon">&nbsp;Contact&nbsp;<img src="/user/themes/bodigiti/images/chocolate-one-piece.png" alt="piece of chocolate" class="nav-icon"></a>
</li>