<li class="menu-item">
  <a href="#chocolate">&dash;&nbsp;Chocolate &amp; More&nbsp;&dash;</a>
</li>
<li class="menu-item">
  <a href="#about">&dash;&nbsp;Our Story&nbsp;&dash;</a>
</li>
<li class="menu-item">
  <a href="#contact">&dash;&nbsp;Contact&nbsp;&dash;</a>
</li>