
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Button Toggle
//
// Corresponding JS in site.js
//
// https://codepen.io/altescape/pen/uLzFK
//

.toggle-button-icon {
  position: relative;
  border-radius: 70px;
  background-color: $color6;
//  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.5),inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 270px; // HEIGHT/WIDTH ////////////////////////////////////////////////
  height: 78px; // HEIGHT/WIDTH ////////////////////////////////////////////////
  overflow: hidden;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include breakpoint($size-xs) {
    width: 320px; // HEIGHT/WIDTH  /////////////////////////////////////////////
    height: 78px; // HEIGHT/WIDTH //////////////////////////////////////////////
  }
  .handle {
    width: 72px; // HEIGHT/WIDTH ///////////////////////////////////////////////
    height: 72px; // HEIGHT/WIDTH //////////////////////////////////////////////
    border-radius: 70px;
    position: absolute;
    top: 2.5px; // HEIGHT/WIDTH ////////////////////////////////////////////////
    background: $color8;
 //   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2),0px 4px 23px 0 rgba(0, 0, 0, 0.08),-2px 4px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-decoration: none;
    font-size: 44px;
  //  color: #D8DAD9;
    line-height: 74px; // HEIGHT/WIDTH /////////////////////////////////////////
    text-align: center;
    left: 5px;
    -webkit-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    -moz-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    -o-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    @include breakpoint($size-xs) {
      width: 72px; // HEIGHT/WIDTH /////////////////////////////////////////////
      height: 72px; // HEIGHT/WIDTH ////////////////////////////////////////////
      top: 2.5px; // HEIGHT/WIDTH //////////////////////////////////////////////
      line-height: 74px; // HEIGHT/WIDTH ///////////////////////////////////////
    }
    &:before {
      content: "Dark Chocolate";
      font-size: 26px; // HEIGHT/WIDTH /////////////////////////////////////////
      font-weight: 400;
      color: #FFF;
   //   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 55px; // HEIGHT/WIDTH //////////////////////////////////////////////
      width: 225px; // HEIGHT/WIDTH (this not in original) /////////////////////
      // content: "\F061"; // a font icon could go her
//      -webkit-font-smoothing: antialiased;
      @include breakpoint($size-xs) {
        font-size: 32px;
        left: 80px; // HEIGHT/WIDTH ////////////////////////////////////////////
        width: 225px; // HEIGHT/WIDTH (this not in original) ///////////////////
      }
    }
    &:after {
      content: "Milk Chocolate";
      font-size: 26px; // HEIGHT/WIDTH /////////////////////////////////////////
      font-weight: 400;
      color: #FFF;
    //  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: -180px; // HEIGHT/WIDTH ////////////////////////////////////////////
      @include breakpoint($size-xs) {
        font-size: 32px;
        left: -225px; // HEIGHT/WIDTH //////////////////////////////////////////
      }
    }
  }
  &.on {
    background: #FFA400;
    .handle {
      left: 194px; // HEIGHT/WIDTH /////////////////////////////////////////////
      color: #FFA400;
      @include breakpoint($size-xs) {
        left: 244px; // HEIGHT/WIDTH ///////////////////////////////////////////
      }
    }
    &.red {
      background: #FF3333;
      .handle {
        color: #FF3333;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/*
.toggle-button-icon.toggle-1 {
  position: relative;
//  left: 100px;
  border-radius: 70px;
  background-color: $color6;
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.5),inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 268px; // HERE //////////////////////////////////////////////////////////////
  height: 117px;
  overflow: hidden;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .handle {
    width: 107px;
    height: 107px;
    border-radius: 70px;
    position: absolute;
    top: 5px;
    background: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2),0px 4px 23px 0 rgba(0, 0, 0, 0.08),-2px 4px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 22px;
    color: #6D808E;
    text-decoration: none;
    font-size: 44px;
    color: #D8DAD9;
    line-height: 107px;
    text-align: center;
    left: 5px;
    -webkit-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    -moz-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    -o-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    &:before {
      content: "Dark";
      font-size: 58px;
      font-weight: 400;
      color: #FFF;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 120px; // HERE ////////////////////////////////////////////////////
      // content: "\F061"; // a font icon could go her
//      -webkit-font-smoothing: antialiased;
    }
    &:after {
      content: "Milk";
      font-size: 58px;
      font-weight: 400;
      color: #FFF;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: -120px; // HERE ////////////////////////////////////////////////////
    }
  }
  &.on {
    background: #FFA400;
    .handle {
      left: 155px; // HERE //////////////////////////////////////////////////////
      color: #FFA400;
    }
    &.red {
      background: #FF3333;
      .handle {
        color: #FF3333;
      }
    }
    &.green {
      background: #B1CA39;
      .handle {
        color: #B1CA39;
      }
    }
  }
}


.toggle-button-icon.toggle-2 {
  position: relative;
//  left: 100px;
  border-radius: 70px;
  background-color: $color6;
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.5),inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 548px; // HERE //////////////////////////////////////////////////////////////
  height: 117px;
  overflow: hidden;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .handle {
    width: 107px; // Here //////////////////////////////////////////////////////
    height: 107px;
    border-radius: 70px;
    position: absolute;
    top: 5px;
    background: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2),0px 4px 23px 0 rgba(0, 0, 0, 0.08),-2px 4px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 22px;
    color: #6D808E;
    text-decoration: none;
    font-size: 44px;
    color: #D8DAD9;
    line-height: 107px;
    text-align: center;
    left: 5px;
    -webkit-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    -moz-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    -o-transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    transition: all .4s cubic-bezier(0.33,1.6,0.66,1);
    &:before {
      content: "Dark Chocolate";
      font-size: 58px;
      font-weight: 400;
      color: #FFF;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 120px; // HERE ////////////////////////////////////////////////////
      width: 400px; // HERE - This not in original ////////////////////////////
      // content: "\F061"; // a font icon could go her
//      -webkit-font-smoothing: antialiased;
    }
    &:after {
      content: "Milk Chocolate";
      font-size: 58px;
      font-weight: 400;
      color: #FFF;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: -400px; // HERE ////////////////////////////////////////////////////
    }
  }
  &.on {
    background: #FFA400;
    .handle {
      left: 435px; // HERE //////////////////////////////////////////////////////
      color: #FFA400;
    }
    &.red {
      background: #FF3333;
      .handle {
        color: #FF3333;
      }
    }
    &.green {
      background: #B1CA39;
      .handle {
        color: #B1CA39;
      }
    }
  }
}
*/ 
