<section id="footer" class="section">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner">
      <div class="paragraph paragraph--featured-content margin-top-bottom__none">
      <p class="">Copyright &copy; 2018 Jaxlicious. All rights reserved&nbsp;&nbsp;|&nbsp;&nbsp;JAXLICIOUS is a Registered Trademark.</p>
    </div>
  </div>
</section>
