<section id="footer" class="section">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner">
      <div id="nap" class="text-align__center text-color__white">
        <h2 style="margin-bottom:0;">Jaxlicious Mail</h2>
        <p style="margin-top:0;">1650 Margaret Street Ste.320 #180<br>Jacksonville, FL 32204<br>
          <a class="phone-link text-color__white" href="tel:+19042569226">(904) 256-9226</a>
        </p>
      </div> <!-- End NAP -->
      <!-- Start Toggle -->
      <div class="toggle">
        <div class="toggle-title text-align__center">
          <p><a class="white">Shipping and Returns</a></p>
        </div>
        <div class="toggle-inner background__9 polygon-1 ptb-2 pr-md-4 pl-md-4 pl-3 pr-1 text-color__brown">
          <div class="background__2 ptb-1 prl-1 pr-md-3 pl-md-3 pb-md-2">
            <h1>Shipping and Returns</h1>

            <h2>Jacksonville Florida Area</h2>
            <p>Free shipping for all orders within the Greater Jacksonville Florida Area.<br>
            For shipping to other locations, please call us for cost.</p>

            <h2>Delivery Time</h2>
            <p>Please allow 7-15 business days for delivery. Orders are mailed from Beverly Hills, California.</p>

            <h2>Returns</h2>

            <p>We allow returns within 30 days of receiving your order.  To return an item, please mail it back to the following address and include your original order number, or a copy of your original invoice that was emailed to you.</p>

            <h2>Address to Mail Returns to:</h2>
            <p style="margin-top:0;">1650 Margaret Street Ste.320 #180<br>Jacksonville, FL 32204<br>
              <a class="phone-link" href="tel:+19042569226">(904) 256-9226</a>
            </p>
          </div>
        </div>
      </div>
      <!-- End Toggle -->
      <div class="text-align__center text-color__white">
        <p class="">Copyright &copy; 2019 Jaxlicious. All rights reserved.&nbsp;&nbsp;|&nbsp;&nbsp;JAXLICIOUS is a Registered Trademark.</p>
      </div>
      </div>
  </div>
</section>