<section id="footer" class="section">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner">
      <div class="paragraph paragraph--featured-content margin-top-bottom__none">
         
		      <div class="featured-text">
            <div class="text-summary"><h2 style="font-size: 1rem;">The Jaxlicious Story</h2></div>
              <p style="font-size: 1rem;">One fine day, Jax was happily walking along eating his favorite chocolates. Along came Jay.<br>
                Neither boy was paying attention. Then, all of a sudden, <b>BAM!</b><br>
                As chocolate flew in the air, some landed in Jay's mouth. He shouted, "<b>THAT'S DELICIOUS</b>."<br>
                Jax and Jay became good friends, and they would eat chocolate almost everyday.<br>
                After becoming friends with Jess and Jen, all four kids decided to work together to create chocolate bars for everyone.</p>
		        </div> 
      </div>
      <p class="">Copyright &copy; 2018 Jaxlicious. All rights reserved.</p>
    </div>
  </div>
</section>
