<section id="footer" class="section mt-3 mt-md-5">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner">
      <div id="nap" class="text-align__center text-color__white">
        <h2 style="margin-bottom:0;">Jaxlicious Mail</h2>
        <p style="margin-top:0;">1650 Margaret Street Ste.302 #180<br>Jacksonville, FL 32204<br>
          <a class="phone-link text-color__white" href="tel:+19042569226">(904) 256-9226</a>
        </p>
      </div> <!-- End NAP -->
      <!-- Start Toggle -->
      <div class="toggle">
        <div class="toggle-title text-align__center">
          <p><a class="white">Shipping and Returns</a></p>
        </div>
        <div class="toggle-inner background__9 polygon-1 ptb-2 pr-md-4 pl-md-4 pl-3 pr-1 text-color__brown">
          <div class="background__2 ptb-1 prl-1 pr-md-3 pl-md-3 pb-md-2">
            <h1>Shipping and Returns</h1>

            <h2>Jacksonville Florida Area</h2>
            <p>Free shipping for all orders within the Greater Jacksonville Florida Area.<br>
            To ship to other locations, please contact us for cost.</p>

            <h2>Delivery Process and Time</h2>
            <p>We will contact you within 24 hours to arrange a delivery date. Please allow 7-10 days for delivery.</p>

            <h2>Return Policy</h2>

            <p>We <u>do not allow</u> returns for edible/food products.</br>
            We <u>do allow</u> returns for non-edible, non-food products within 60 days of order date.</br>
            You are responsible for return shipping cost.</p>

            <h2>Return Process</h2>
            <ol>
              <li>Email or call us for an RMA number (Return Merchandise Authorization)</li>
              <li>Include your RMA number on shipping label and mail returns to:</li>
              <p style="margin-bottom:0;">Jaxlicious</p>
              <p style="margin-top:0;">1650 Margaret Street, Ste.302 #180<br>Jacksonville, FL 32204<br>
                <a class="phone-link" href="tel:+19042569226">(904) 256-9226</a>
              </p>
            </ol>
          </div>
        </div>
      </div>
      <!-- End Toggle -->
      <div class="text-align__center text-color__white">
        <p class="">Copyright &copy; 2019 Jaxlicious. All rights reserved.&nbsp;&nbsp;|&nbsp;&nbsp;JAXLICIOUS is a Registered Trademark.</p>
      </div>
      </div>
  </div>
</section>