<header class="header clearfix" role="banner">
    <section class="u-container-lg {{ grid_size }}">
        <section class="header-inner">
          <section class="hamburger-and-cart">
            <a href="#" class="hamburger u-visible-mobile js-toggle-menu">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </a>
            <div class="header-phone__mobile">
              <a itemprop="telephone" href="tel:+1904-256-9226">(904) 256-9226</a>
            </div>
            
            {% block header_login_and_cart %}
                {% include 'shop/cart.html.twig' %}
            {% endblock %}
          </section>
          <nav class="logo-and-nav menu-default">
            <section class="logo">
              <a href="{{ home_url }}" class="navbar-brand mr-10">
              </a>
            </section>
            {% block header_navigation %}
              <ul class="menu-list">
                {% include 'partials/navigation.html.twig' %}
              </ul>
            {% endblock %}
            </nav>
          {% if config.plugins.login.enabled and grav.user.username %}
            <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
          {% endif %}
        </section>
    </section>
</header>
