<header class="header clearfix" role="banner">
  <section class="header-inner">
    <nav class="logo-and-nav menu-default">
      <div id="logo">
        <a href="/"><img src="/user/themes/bodigiti/images/logo-text-jaxlicious-regular.svg" alt="Jaxlicious logo" /></a>
      </div>
      {% block header_navigation %}
        <ul class="menu-list">
          {% include 'partials/navigation.html.twig' %}
        </ul>
      {% endblock %}
      {% block header_login_and_cart %}
        {% include 'shop/cart.html.twig' %}
      {% endblock %}
      </nav>
    {% if config.plugins.login.enabled and grav.user.username %}
      <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
    {% endif %}
  </section>
</header>
