
////////////////////////////////////////////////////////////////////////////////
// Front Page
////////////////////////////////////////////////////////////////////////////////

.front-page {
  header .logo {
    width: 250px;
    @include breakpoint($size-lg) {
      width: 300px;
      margin-top: 0;
    }
  }
}
