
$color1: #000; // Black
$color2: #fff; // White
$color3: #231F20; // Dark Gray (Near Black)
$color4: #694e3d; // Jax Brown--> rgb(105,78,61)
$color4a: rgba(105,78,61, .8); // Jax Brown--> rgb(105,78,61)
$color5: #da0000; // Jax Red--> rgb(218,0,0)
$color5a: rgba(218,0,0, .8); // Jax Red--> rgb(218,0,0)
$color6: #336abf; // Jax Blue
$color6a: rgba(34,106,191,.8); // Other Blue
$color7: #622493; // Site Purple (Jax Purple does not work well)
$color7a: #973999; // Jax Purple--> rgb(151,57,153)
$color7b: rgba(151,57,153, .8); // Jax Purple--> rgb(151,57,153)
$color8: #FFE135; // Jax Yellow--> rgb(255,225,53)
$color8a: rgba(255,225,52, .8); // Jax Yellow--> rgb(255,225,53)
$color9: #5EBD3E; // Jax Green--> rgb(94,189,62)
$color9a: lighten($color9, 10%); // Jax Green Lighter--> #7dcc62
$color10: #F78200; // Jax Orange--> rgb(247,130,0)
$color10a: rgba(247,130,0, .9); // Jax Orange--> rgb(247,130,0)

$black: black;
$white: white;
$gray: gray;

$gray1: #f6f6f6; // Super-light gray
$gray2: #f1f1f1;
$gray3: #eeeeee;
$gray4: #dddddd; // TNT Staff Images
$gray5: #d6d6d6; // TNT Gray
$gray6: #bbbbbb;
$gray7: #999999; // RRT Gray for Featured Content
$gray8: #666666;
$gray9: #696969;
$gray10: #4d4d4d; // TNT Gray Dark #2
$gray11: #333333; // Gray Superdark
$gray12: #26282a; // TNT Gray Dark

// Superfish Colors for Menu Levels, etc
$superfish-1-color: $color2;
$superfish-1-background-color-level-first: $color3;
$superfish-1-background-color-level-second: lighten($color3, 15%);
$superfish-1-background-color-level-third: $color3;
$superfish-1-background-color-level-fourth: lighten($color3, 15%);
// End Superfish

$color-link: $color3;
$color-link-1: lighten($color-link, 2.5%);
$color-link-2: lighten($color-link, 5%);
$color-link-3: lighten($color-link, 15%);
$color-link-4: lighten($color-link, 20%);
$color-link-5: lighten($color-link, 25%);
$color-link-6: lighten($color-link, 45%);

$color-link-alt: $color4;
$color-link-alt-1: lighten($color-link-alt, 2.5%);
$color-link-alt-2: lighten($color-link-alt, 5%);
$color-link-alt-3: lighten($color-link-alt, 15%);
$color-link-alt-4: lighten($color-link-alt, 20%);

$color-button-border: $color-link;
$color-button-border-alt: $color3;

$color-button: $color4;
$color-button-1: lighten($color4, 10%);
