/*
// Light
@font-face {
    font-family: 'geomanist';
    src: url('../../fonts/geomanist-light-webfont.eot');
    src: url('../../fonts/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/geomanist-light-webfont.woff2') format('woff2'),
         url('../../fonts/geomanist-light-webfont.woff') format('woff'),
         url('../../fonts/geomanist-light-webfont.ttf') format('truetype'),
         url('../../fonts/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: 100;
    font-style: normal;
}
*/
// Regular
@font-face {
  font-family: 'geomanist';
  src: url('../../fonts/geomanist-regular-webfont.eot');
  src: url('../../fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/geomanist-regular-webfont.woff2') format('woff2'),
      url('../../fonts/geomanist-regular-webfont.woff') format('woff'),
      url('../../fonts/geomanist-regular-webfont.ttf') format('truetype'),
      url('../../fonts/geomanist-regular-webfont.svg#geomanistregular') format('svg');
  font-weight: 300;
  font-style: normal;
}
// Medium
@font-face {
    font-family: 'geomanist';
    src: url('../../fonts/geomanist-medium-webfont.eot');
    src: url('../../fonts/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/geomanist-medium-webfont.woff2') format('woff2'),
         url('../../fonts/geomanist-medium-webfont.woff') format('woff'),
         url('../../fonts/geomanist-medium-webfont.ttf') format('truetype'),
         url('../../fonts/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: 600;
    font-style: normal;
}
// Bold
@font-face {
    font-family: 'geomanist';
    src: url('../../fonts/geomanist-bold-webfont.eot');
    src: url('../../fonts/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/geomanist-bold-webfont.woff2') format('woff2'),
         url('../../fonts/geomanist-bold-webfont.woff') format('woff'),
         url('../../fonts/geomanist-bold-webfont.ttf') format('truetype'),
         url('../../fonts/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
