
////////////////////////////////////////////////////////////////////////////////
// Link Base
////////////////////////////////////////////////////////////////////////////////

a {
  color: $color3;
  text-decoration: underline;
  &:hover {
    color: $color5;
    text-decoration: underline;
  }
  &.link-important {
    color: $color5;
  }
}


//
// Anchor overrides
//
a {
  .black {
    color: $color1;
  }
  .gray {
    color: $color6;
  }
}

//
// Target on-page anchor tags
// This keeps on-page anchor tags from appearing as hyperlinks
//
a[id] {
  color: $color1;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// Other....
a.text-decoration--none {
  text-decoration: none;
}

a.negate {
  color: $color1;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
