
////////////////////////////////////////////////////////////////////////////////
// Alignment Base
////////////////////////////////////////////////////////////////////////////////

.text-align__center {
  text-align: center;
}
.text-align__right {
  text-align: right;
}
.text-align__left {
  text-align: left;
}
.text-align__justify {
  text-align: justify;
}
