
////////////////////////////////////////////////////////////////////////////////
// Normalize-Bodigiti Base
////////////////////////////////////////////////////////////////////////////////

//
// Use the saner border-box model for all elements.
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

//
// Input Element
//
// Hide input element increase/descrease controls
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
