<div id="snipcart-wrapper">
  <div class="snipcart-account-login">
    <a href="#" class="snipcart-user-profile">
      <div class="snipcart-user-email">Login</div>
    </a>
    <br>
    <a href="#" class="snipcart-user-logout" style="display: none;">Logout</a>
  </div>
  <div class="snipcart-cart-and-count">
    <a href="#" class="snipcart-checkout">
      <div class="snipcart-cart">
        <div class="snipcart-summary snipcart-summary-empty">Cart (<span class="snipcart-total-items">0</span>)</div>
      </div>
    </a>
  </div>
</div>
