
.products {
  figcaption {
    color: $color1;
    font-weight: $font-weight-medium;
    text-align: left;
    padding: 0;
    margin: .5rem 0 .5rem .5rem;
    text-align: left;
    @include breakpoint($size-md) {
      text-align: center;
      margin-left: 0;
    }
  }
}

.product-info {
  margin: 1rem 0 0 .5rem;
  @include breakpoint($size-md) {
    margin: 1rem 0 0 0;
  }
  .title-price {
    text-align: left;
    @include breakpoint($size-sm) {
      margin-bottom: 0;
    }
    @include breakpoint($size-md) {
      display: inline-block;
      margin: .5rem 0;
    }
  }
  .title {
    display: inline-block;
    @include font-size-only($font-standard);
    font-weight: $font-weight-regular;
    margin-bottom: 0;
    margin-right: .5rem;
  }
  .info-helper {
    color: $gray;
  }
  .priceline {
    margin: .5rem 0;
    @include breakpoint($size-sm) {
      margin-bottom: 0;
    }
  }
  .price {
    font-size: 1.5rem;
    margin-right: .5rem;
  }
  .price-helper {
    color: $gray;
  }
  .toggle {
    margin-bottom: 1.5rem;
    .figcaption-alt {
      padding: 0;
    }
    img.radius {
      border-radius: 15px;
    }
  }
  .toggle,
  .add-to-cart {
    text-align: left;
    @include breakpoint($size-sm) {
      text-align: center;
    }
  }
}

button.js-add-item {
  font-weight: $font-weight-regular;
  @include font-size-only($font-base);
  color: $color2;
  padding: 1rem 1rem;
  border-style: none;
  /*
  border-radius: 6px;
  @include font-size-only($font-small);
  background: $color6;
  margin-top: 2rem;
  width: 100%;
  &:hover {
      background-color: darken($color6, 10%);
  }
  @include breakpoint($size-sm, true) {
      margin-top: 0;
  }
*/
}
