
button.js-add-item {
  border-style: none;
  border-radius: 6px;
/*
  @include font-size-only($font-small);
  color: $color2;
  background: $color6;

  padding: .75rem 2rem;
  margin-top: 2rem;
  width: 100%;
  &:hover {
      background-color: darken($color6, 10%);
  }
  @include breakpoint($size-sm, true) {
      margin-top: 0;
  }
*/
}
