
.product-description {
  margin-top: 1rem;
}

button.js-add-item {
  font-weight: $font-weight-regular;
  font-size: $font-base;
  color: $color2;
  padding: 1rem 1rem;
  border-style: none;
  /*
  border-radius: 6px;
  @include font-size-only($font-small);
  background: $color6;
  margin-top: 2rem;
  width: 100%;
  &:hover {
      background-color: darken($color6, 10%);
  }
  @include breakpoint($size-sm, true) {
      margin-top: 0;
  }
*/
}
