////////////////////////////////////////////////////////////////////////////////
// Button (component): Override _button--base.scss
////////////////////////////////////////////////////////////////////////////////

a.button {
  // Font Color
  &.font-black {
    color: $color1;
  }
  &.font-white {
    color: $color2;
  }
  &.font-primary {
    color: $color3;
  }
  &.font-secondary {
    color: $color3;
  }
  // Background Color
  &.background-black {
    background: $color1;
  }
  &.background-white {
    background: $color2;
  }
  &.background-primary {
    background: $color3;
  }
  &.background-secondary {
    background: $color4;
  }
  // Font Weight
  &.font-weight-regular {
    font-weight: $font-weight-regular;
  }
  // Text Decoration
  &.decoration-none {
    &:hover {
      text-decoration: none;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Go To Top Button
////////////////////////////////////////////////////////////////////////////////
#goToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; // Make sure it does not overlap
  border: none;
  outline: none;
  background-color: $color9;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  &:hover {
    background-color: $color10;
  }   
}